
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
a:link {
         color: greenyellow;
         background-color: transparent;
         text-decoration: none;

  }
a:visited {
         color: black;
         background-color: green;
         text-decoration: none;
   }

</style>
</head>
<body>
<center>

   <input id="dynamic" name="Irrigation Form" type="button" value="Calulation Form" ; onclick = "Openform();"
    style="overflow:hidden;padding: 5px 5px; border-radius: 3px;font-size: 8.5pt; width:200px ; background-color: #E7FCCA; font-weight: bold; ">
   <button class="btn btn-outline-success" ><a href="/add">Click Here</a></button>
</center>
</body>
</html>